@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow-y: auto;
}

body {
  background-image: url("assets/glassbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}


html:not(.not-slate) {
  font-family: "Chivo Mono";
  color: white;

}


.add-hover:hover {
  border-radius: 1rem;
  background-color: rgb(153, 218, 250);
}

li {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.link_,
a {
  color: rgb(4, 163, 249);
  font-weight: bold;
}

.link_:visited,
a:visited {
  color: rgb(103, 201, 253);
}

.link_:hover,
a:hover {
  color: rgb(54, 184, 254);
}

.link_:active,
a:active {
  color: grey
}

.tech-li>li>img {
  width: 7rem;
  height: 7rem;
  margin-left: 1rem;
  border-radius: 5%;
}

/*flip it so the image is on the right*/
.tech-li>li {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-size: x-large;
  margin-top: 1rem;
}





.project-c-con>ul>li>figure>h1 {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.project-c-con>ul>li>figure>figcaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto auto auto;
}




.glass-photos {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(1rem);
  box-shadow: -1rem 0 1rem inset rgba(255, 255, 255, .6),
    1rem 0 1rem rgba(0, 0, 0, .4);
}

.glass {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(1rem);
  box-shadow:
    -1rem -1rem .5rem inset rgba(255, 255, 255, .6),
    1rem 1rem .5rem rgba(0, 0, 0, .4);

}


.glass-nav {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(1rem);
  box-shadow:
    -.5rem -.5rem .5rem inset rgba(255, 255, 255, .6),
    1rem 1rem .5rem rgba(0, 0, 0, .4);
}

.snowflake {
  opacity: 0.5;
}

figcaption {
  margin: 1rem 0 1rem 0;
}

.ts-hr {
  height: .5rem;
  background-color: rgb(2, 66, 176);
  border: none;
  border-radius: 1rem;
  margin: .25rem 0 1rem 0;
  animation: blueglow 4s linear infinite;
  animation-direction: alternate;
}

@keyframes blueglow {
  0% {
    box-shadow: 0 0 .25rem .25rem white;
  }

  33% {
    box-shadow: 0 0 .25rem .25rem rgb(153, 218, 250);
  }

  66% {
    box-shadow: 0 0 .25rem .25rem rgb(103, 201, 253);
  }

}