@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow-y: auto;
}

body {
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(109, 9, 121) 5%, rgb(0, 94, 255) 100%);
}

html:not(.not-slate) {
  font-family: "Chivo Mono";
  color: rgba(226, 232, 240, 0.8)
}

.name-box>li:nth-child(2n) {
  align-self: self-end;
}

.name-box>li:nth-child(2n+1) {
  align-self: self-start;

}

.add-hover:hover {
  border-radius: 1rem;
  background-color: rgba(2, 66, 176, 0.9);
}

li {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

/*blue outline thing*/
.shadow-name {
  /*box-shadow: 1rem 1rem rgba(0, 94, 255, 0.8),
    1.2rem 1.2rem rgba(226, 232, 240, 0.8);*/
}


/*then put a cool shadow under the words*/
main:not(.not-shadow)>ul>li {
  text-shadow: 0.2rem 0.2rem 0.5rem rgba(2, 66, 176, 0.9);
}

.link_,
a {
  color: white;
  font-weight: bold;
}

.link_:visited,
a:visited {
  color: blue;
}

.link_:hover,
a:hover {
  color: hotpink;
}

.link_:active,
a:active {
  color: red;
}

.tech-li>li>img {
  width: 3.5rem;
  margin-left: 1rem;
}

/*flip it so the image is on the right*/
.tech-li>li {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-size: x-large;
  margin-top: 1rem;
}

.tech-li,
.shadow-name {
  animation: box-glow 14s linear infinite;
  animation-iteration-count: infinite;
}

.project-c-con>ul>li>figure>h1 {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.project-c-con>ul>li>figure>figcaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto auto auto;
}

.proj-ul {
  background: linear-gradient(90deg, rgba(109, 9, 121, 0.5) 0%,
      rgba(2, 66, 176, 0.7) 100%);

}


@keyframes box-glow {

  100%,

  0% {
    box-shadow: 1rem 1rem rgb(222, 222, 222);
  }

  25% {
    box-shadow: 1rem 1rem rgb(0, 94, 255);
  }

  50% {
    box-shadow: 1rem 1rem rgb(255, 105, 180);
  }

  75% {
    box-shadow: 1rem 1rem rgb(109,
        9,
        121);
  }

}