@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow-y: auto;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*really cool lighting effect, looks like sun shining down*/
  background: linear-gradient(rgba(109, 9, 121, 0.2)0%, rgba(0, 0, 0, 0.6)20%);
  z-index: -1;
}

body {
  position: relative;
  min-height: 100vh;
  background-image: url("assets/potentialbg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html:not(.not-slate) {
  font-family: "Chivo Mono";
  color: white;

}


.add-hover:hover {
  border-radius: 1rem;
  background-color: rgb(19, 0, 28);
}

li {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.link_,
a {

  color: rgb(129, 1, 180);
  font-weight: bold;
}

.link_:visited,
a:visited {
  color: rgb(145, 4, 131);

}

.link_:hover,
a:hover {
  color: rgb(194, 40, 255)
}

.link_:active,
a:active {
  color: grey
}

.tech-li>li>img {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  border-radius: 5%;
}

/*flip it so the image is on the right*/
.tech-li>li {
  display: flex;
  flex-direction: row;
  width: fit-content;
  font-size: x-large;
  margin-top: 1rem;
}



.project-c-con>ul>li>figure>h1 {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.project-c-con>ul>li>figure>figcaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto auto auto;
}




.glass-photos {
  background-color: rgba(0,
      0,
      0,
      0.15);
  backdrop-filter: blur(1rem);
  box-shadow: -1rem 0 1rem inset rgba(102,
      102,
      102, .6),
    1rem 0 1rem rgba(0, 0, 0, .4);
}

.glass {
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(.8rem);
  box-shadow:
    -1rem -1rem .5rem inset rgba(102, 102, 102, 0.7),
    1rem 1rem .5rem rgba(0, 0, 0, .4);

}


.glass-nav {
  background-color: rgba(0,
      0,
      0,
      0.15);
  backdrop-filter: blur(1rem);
  box-shadow:
    -.5rem -.5rem .5rem inset rgba(102,
      102,
      102,
      0.6),
    1rem 1rem .5rem rgba(0, 0, 0, .4);
}

.snowflake {
  opacity: 0.5;
}

figcaption {
  margin: 1rem 0 1rem 0;
}

.ts-hr {
  height: .5rem;
  background-color: rgb(46, 1, 61);
  border: none;
  border-radius: 1rem;
  margin: .25rem 0 1rem 0;
  animation: blueglow 4s linear infinite;
  animation-direction: alternate;
}

@keyframes blueglow {
  0% {
    box-shadow: 0 0 .25rem .25rem rgb(152, 1, 169);
  }

  33% {
    box-shadow: 0 0 .25rem .25rem rgb(93, 1, 101);
  }

  66% {
    box-shadow: 0 0 .25rem .25rem rgb(0, 0, 0);
  }

}